<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6UdQUNuf-GKoLlj-mVtZ9j28aijNGBb4</string>
	<key>GCM_SENDER_ID</key>
	<string>379681432845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.entregafinal.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-9934f</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-9934f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379681432845:ios:4e313e1611cfebdf34fc44</string>
</dict>
</plist>